// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Fort Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
--greenish: #73c2af;
--greyish: #9c9c9c;
--blueish: #668b9d;
}

.grey_button {
    background-color: var(--greyish);
    border: none;
}

.green_button {
    background-color: var(--greenish);
    border: none;  
}

.button {
    margin: 5px 5px 0 0;
    color: #fff !important;
    font-size: 0.6rem !important;
    box-shadow: 1px 1px 1px 1px #fefefe;
}

.top_menu {
    height: 60px;
    line-height: 60px;
    background-color: var(--blueish);
    margin-bottom: 20px;
    font-size: 1.3rem !important;
    letter-spacing: 2px;
}

.top_vacancies_bar {
    background-color: #ebebeb;
    height: 30px;
    border-radius: 5px;
}

#vacancy_container {
    font-size: 0.6rem !important;
}

.vacancy_box {
    margin: 15px 0;
}

#search_container {
    padding: 0;
}

#filter_title {
    font-size: 0.9rem;
    height: 30px;
    border-bottom: 1px solid #fefefe;
}

.form-control {
    font-size: 0.6rem;
    padding: 0.1rem 0.5rem;
}

#filter_hint {
    height: 30px;
    font-size: 0.75rem;
}

.page-item.active .page-link{
    background-color: var(--greenish);
    border-color: var(--greenish);
    border-radius: 3px;
}

.page-link {
    border: 1px solid var(--greyish);
    border-radius: 3px;
    margin: 0 1px;
    color: var(--greyish);
}

.page-link:hover {
    border: 1px solid var(--greyish);
    border-radius: 3px;
}

.description {
    margin: 10px 0;
}

.job_title {
    font-size: 0.9rem;
    font-weight: 600;
}

.pagination {
    margin-top: 10px;
}

.salary {
    margin-left: 30px;
}

.location, .salary, #available_count {
    font-size: 0.7rem;
}

.vacancy_box {
    padding: 15px;
}

.vacancy_button {
    color: var(--greenish) !important;
    background-color: #fff;
}

#available_count {
    padding: 8px 15px;
}

body {
    line-height: 1!important;
}

@media (max-width: 768px) {
    #search_container {
        margin-left: 0 !important;
    }

    #vacancy_container {   
        flex-direction: column; 
        align-items: stretch; 
    }


}